In [1]:
import pandas as pd

In [122]:
df_2019= pd.read_csv('./tmap_prep_for_vis/tmap_19_1_monthly_count_top20.csv', index_col=0)
df_2020= pd.read_csv('./tmap_prep_for_vis/tmap_20_1_monthly_count_top20.csv', index_col=0)

df_2019.reset_index(inplace=True)
df_2020.reset_index(inplace=True)

In [123]:
df_2019.head(10)

    지역 시군구  여행 횟수
0   전북 무주군    329
1   강원 평창군    325
2   강원 정선군    325
3   강원 고성군    311
4   강원 홍천군    288
5  제주 서귀포시    276
6   강원 태백시    248
7   경북 울진군    247
8   경남 합천군    243
9   경남 창녕군    237

In [116]:
a_list = []
for i in range(0, len(df_2019)):
    if df_2019['지역 시군구'][i] == '강원 정선군' or df_2019['지역 시군구'][i] == '경기 여주시' or df_2019['지역 시군구'][i] == '강원 고성군' or df_2019['지역 시군구'][i] == '경기 포천시' or df_2019['지역 시군구'][i] == '전북 무주군':
        data = df_2019.iloc[i]
        a_list.append(data)

df2_2019 = pd.DataFrame(a_list)
df2_2019.reset_index(drop= True, inplace= True)
df2_2019

   지역 시군구  여행 횟수
0  강원 정선군    392
1  강원 고성군    366
2  전북 무주군    353
3  경기 포천시    350
4  경기 여주시    342

In [117]:
df_2020.head(10)

    지역 시군구  여행 횟수
0   강원 평창군    337
1   강원 고성군    333
2   강원 정선군    326
3   강원 홍천군    324
4   경기 여주시    304
5   경기 포천시    302
6  제주 서귀포시    301
7   경기 가평군    277
8   강원 삼척시    276
9   충북 충주시    274

In [118]:
a_list = []
for i in range(0, len(df_2019)):
    if df_2020['지역 시군구'][i] == '경기 여주시' or df_2020['지역 시군구'][i] == '강원 평창군' or df_2020['지역 시군구'][i] == '강원 고성군' or df_2020['지역 시군구'][i] == '제주 서귀포시' or df_2020['지역 시군구'][i] == '경기 포천시':
        data = df_2020.iloc[i]
        a_list.append(data)

df2_2020 = pd.DataFrame(a_list)
df2_2020.reset_index(drop= True, inplace= True)
df2_2020

    지역 시군구  여행 횟수
0   강원 평창군    337
1   강원 고성군    333
2   경기 여주시    304
3   경기 포천시    302
4  제주 서귀포시    301

In [119]:
df2_2019['년도'] = '2019'
df2_2020['년도'] = '2020'

df3 = pd.concat([df2_2019, df2_2020], axis= 'rows', ignore_index= True)
df3 = df3[['년도', '지역 시군구', '여행 횟수']]
df3.sort_values(by= ['여행 횟수'], axis= 0, ascending= False, inplace= True)
df3.reset_index(drop= True, inplace= True)
df3.to_csv('./tmap_monthly_top5_ver2/tmap_monthly_top5_7_modified.csv')

In [146]:
df_2019= pd.read_csv('./tmap_prep_for_vis/tmap_19_8_monthly_count_top20.csv', index_col=0)
df_2020= pd.read_csv('./tmap_prep_for_vis/tmap_20_8_monthly_count_top20.csv', index_col=0)

df_2019.reset_index(inplace=True)
df_2020.reset_index(inplace=True)

In [147]:
df_2019[0:10]

   지역 시군구  여행 횟수
0  강원 정선군    404
1  강원 고성군    378
2  강원 홍천군    370
3  강원 삼척시    355
4  경기 포천시    348
5  전북 무주군    342
6  충북 충주시    340
7  경남 합천군    329
8  경기 여주시    328
9  강원 평창군    324

In [148]:
df_2020[0:10]

    지역 시군구  여행 횟수
0   강원 고성군    435
1   강원 정선군    416
2  제주 서귀포시    386
3   강원 평창군    384
4   강원 홍천군    381
5   제주 제주시    376
6   강원 삼척시    357
7   전북 무주군    349
8   경기 포천시    340
9   강원 양양군    330